/* .Output
{
    width: 40%;
    margin-left:150px;
    float: left;;
    position: relative;
    background-color: rgb(212, 209, 209);
    border-radius: 5px;
    height: fit-content;
    top:"70%"
} */
.Main
{
    display:block;
    width:100%;
    height:575px;
    background-color:rgb(226, 235, 229);
    /* border :5px solid sandybrown; */
    display: block;
    overflow: auto;
    overflow-x: hidden
    /* position: absolute; */
}
.output-Left
{
    top:100px; 
    background-color:rgb(35, 39, 36);
    /* border :5px solid rgb(130, 244, 96); */
    width:fit-content;
    height:fit-content;
    position: relative;;
    left:370px;
    overflow: auto;
    /* top:30px; */
}
.output-right
{
    /* padding-top:200px; 
    padding-right:250px;
    background-color:rgb(80, 165, 108);
    float: right; */
    /* top:2px; */
    /* padding-left:250px; */
    bottom: 300px;
    background-color:#4b4648;
    border:3px solid  #f8f4f6;
    width:27%;
    height:500px;
    position: relative;;
    left:840px;
}