.App {
    text-align: center;
  }
  .result
  {
    height: 70%;
    width: fit-content;
    border: blue;
  }
  .custom
  {
    height: fit-content;
    width: 60%;
    right: 10%;
    border-color: blue;
  }
  